/* body {
	position: absolute;
}

th,
td {
	border: 1px solid black;
	padding: 15px;
	text-align: center;
}

th::selection,
td::selection {
	background-color: rgb(236, 65, 136);
	color: #fff;
}

tbody {
	font-style: italic;
}

.table p:last-of-type,
aside.tb p:last-of-type {
	background-color: black;
	color: #fff;
}

.table {
	border-collapse: collapse;

	position: relative;
	top: 0;
	right: 0;
	margin-bottom: 100px; */

.parent {
	margin: 0 auto;
	padding: 20px;
	width: 50vw;
	font-size: 30px;
	color: #fff;
	background-color: bisque;
	outline: 1px solid yellowgreen;
}

.parent span {
	display: inline-block;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 40px;
	color: black;
}

.parent div {
	padding: 20px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.parent div:last-of-type {
	border-bottom: 1px solid black;
}

.child-1 {
	background-color: orangered;
	position: sticky;
	will-change: transform;
	top: 0px;
}
.child-2 {
	background-color: black;
}
.child-3 {
	background-color: royalblue;
}
.child-4 {
	background-color: purple;
}
.child-5 {
	background-color: darkgreen;
}

.signup_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 20px;
}
input {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 3px;
	text-decoration: none;

	font-family: inherit;
	font-size: 100%;
	padding: 5px 10px;

	background-color: #d4e2e78a;
	border: none;
	outline: 0;

	transition: all 0.2s;
}

input:active,
input:focus {
	outline: 0;
	transform: translateY(-2px);
	box-shadow: inset 1px 1px 3px #ccc;
}
input:valid {
	outline: 1px solid rgb(47, 255, 82);
}

input:invalid {
	outline: 1px solid red;
}

label {
	display: inline-block;
	color: #333;
}

button {
	border: none;
	outline: 0;
	color: #fff;
	background-color: rgb(55, 0, 255);
	padding: 7px 15px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
}
